@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

/* my needed styles */

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dialog {
  position: fixed;
  z-index: 10000; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* end of my needed styles */

.main-title {
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 5vw;
}

.center-text {
  text-align: center;
}

.muted {
  color: #e3e3e3;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

textarea {
  display: block;
  width: 100%;
  max-width: 75%;
  margin: 24px auto;
  padding: 14px;
  font-size: 16px;
}